<h1>New Booking</h1>

<t>Select Building: </t>
<select id = "Buildings">
  <option value = "1">D.H. Hill</option>
  <option value = "2">James B. Hunt</option>

</select>

<%= render 'form', booking: @booking %>


<%= link_to 'Back', bookings_path %>
